.Add__events {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.events__img > img {
  flex: 0.5;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  object-fit: contain;
}
.events__info {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.events__info > form {
  display: flex;
  flex-direction: column;
}

.events__info > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.events__info > form > textarea {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.events__info > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #394867;
  border-radius: 5px;
  margin-bottom: 10px;
}
.events__info > p {
  margin-top: 20px;
}
.events__info > form > button:hover {
  box-shadow: 100px;
  cursor: pointer;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
  font-weight: 600;
}
